<h2>Assets You've Purchased</h2>

<% if flash[:notice] %>
  <div style="color: green; margin-bottom: 10px;"><%= flash[:notice] %></div>
<% end %>

<% if flash[:alert] %>
  <div style="color: red; margin-bottom: 10px;"><%= flash[:alert] %></div>
<% end %>

<% if @assets.any? %>
  <ul>
    <% @assets.each do |asset| %>
      <li style="margin-bottom: 8px;">
        <strong><%= asset.title %></strong> - $<%= asset.price %><br>
        <%= link_to "Download", downloads_customer_path(@customer, asset_id: asset.id), style: "color: blue;" %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>You haven't purchased any assets yet.</p>
<% end %>
